BPEL_TAREA4/SA_T4_Cliente/bpelContent/ServicioPiloto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SolicitudAvisoPiloto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ubicacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitudAvisoPilotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitudAvisoPilotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicacionPiloto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="informar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicacionPilotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UbicacionPilotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SolicitudAvisoPilotoSoapIn">
    <wsdl:part name="parameters" element="tns:SolicitudAvisoPiloto" />
  </wsdl:message>
  <wsdl:message name="SolicitudAvisoPilotoSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitudAvisoPilotoResponse" />
  </wsdl:message>
  <wsdl:message name="UbicacionPilotoSoapIn">
    <wsdl:part name="parameters" element="tns:UbicacionPiloto" />
  </wsdl:message>
  <wsdl:message name="UbicacionPilotoSoapOut">
    <wsdl:part name="parameters" element="tns:UbicacionPilotoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioPilotoSoap">
    <wsdl:operation name="SolicitudAvisoPiloto">
      <wsdl:input message="tns:SolicitudAvisoPilotoSoapIn" />
      <wsdl:output message="tns:SolicitudAvisoPilotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UbicacionPiloto">
      <wsdl:input message="tns:UbicacionPilotoSoapIn" />
      <wsdl:output message="tns:UbicacionPilotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioPilotoSoap" type="tns:ServicioPilotoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitudAvisoPiloto">
      <soap:operation soapAction="http://tempuri.org/SolicitudAvisoPiloto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicacionPiloto">
      <soap:operation soapAction="http://tempuri.org/UbicacionPiloto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioPilotoSoap12" type="tns:ServicioPilotoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitudAvisoPiloto">
      <soap12:operation soapAction="http://tempuri.org/SolicitudAvisoPiloto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicacionPiloto">
      <soap12:operation soapAction="http://tempuri.org/UbicacionPiloto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPiloto">
    <wsdl:port name="ServicioPilotoSoap" binding="tns:ServicioPilotoSoap">
      <soap:address location="http://localhost:56684/ServicioPiloto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioPilotoSoap12" binding="tns:ServicioPilotoSoap12">
      <soap12:address location="http://localhost:56684/ServicioPiloto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>